<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sorting Visualizer </title>
    <link rel="stylesheet" href="index.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</head>

<body style="background-color: rgb(25, 24, 27);">
    <button class="btn btn-primary"  onclick="random()">Randomize Data</button>
    <button class="btn btn-primary cl"  onclick="quicksort()">Quick</button>
    <button class="btn btn-primary cl" onclick="mergesort()">Merge</button>
    <button class="btn btn-primary cl" onclick = "selectionSort()">Selection</button>
    <button class="btn btn-primary cl" onclick = "insertionSort()">Insertion</button>
    <input type="number" id="num" placeholder="Enter the numbers to sort one by one">
    <button class="btn btn-info" id="go" onclick="customizedarray()">GO</button>
    <div id="list">
    </div>
    <div style="width: 550px; margin: auto;">
        <center style="color: white;" id="text">Click on Randomize Data Button to generate random array or make your own array using
            input box and then click on any Sort button to Sort</center>
        <canvas id="mychart" width="400" height="400"></canvas>
    </div>
    <div style="color: #ffffff; position: absolute; bottom: 0; right: 0;">
        - Made by <a href="https://github.com/bhavyamanocha849" target="_blank">Bhavya Manocha</a>
    </div>
</body>
<script src="Sorting_algorithm.js"></script>
</html>